.geral {
    background-color: rgb(16, 53, 83);
}


.titulo {
    background-color: blue;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: azure;
    

}

.frasess {
    background-color: blue;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: azure;

}

    
    